
@{
    ViewBag.Title = "SETTLEMENT";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
}
<div style="height:100px; padding:70px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Menu/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Settlement/">Settlement List</a></li>
        <li class="breadcrumb-item active">Settlement</li>
    </ol>
</div>

<div class="container">
    <div style="margin-top:110px" class="row">
        <hr />
        <div class="col-md-5 col-md-offset-1">
            <label>TOTAL</label>
            <H6 style="text-align:left; color:darkgrey;">Suspense</H6><span>RP. 3.000.000</span>
            <H6 style="text-align:left; color:darkgrey;">Settlement</H6><span>RP. 3.000.000</span>
            <hr class="bigHr" />
            <span>RP. (0,-)</span>&nbsp;<label style="text-align:left; color:red;">REFUND</label>
            <div style="margin-top:20px" class="form-group">
                <button style="width:145px" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">Submit</button>
                <button style="width:145px" type="button" class="btn btn-default btn-lg" onclick="goBack()">Cancel</button>
            </div>
        </div>
    </div>
    <hr />
</div>




<!-- Small modal -->

<script>
    function goBack() {
        window.history.back();
    }
</script>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Succes</h4>
            </div>
            <div class="modal-body">
                Hai... <strong>USER</strong>. Lakukan Pembayaran Ke Rekening XXXXXX berikut untuk refunding settlement
            </div>
        </div>
    </div>
</div>

