@model IEnumerable<WebTemplate.Models.Participant>

@{
    ViewBag.Title = "PARTICIPANT";
    Layout = "~/Views/Shared/_LayoutLg.cshtml";
}
<div style="height:100px; padding:70px 0 0 0;" class="well navbar-fixed-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Menu/">Home</a></li>
        <li class="breadcrumb-item active">Upload DIT</li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div style="margin:100px 100px 0 100px;" class="col-sm-12 col-md-10">
            <form class="width" action="/Home/Contact" id="loginForm">
                <div class="clearfix">
                    <div style="padding:0 5px">
                        <table class="table">
                            <tr style="background-color:deepskyblue; text-align:center;">
                                <th class="th">
                                    No Reg
                                </th>
                                <th class="th">
                                    Name
                                </th>
                                <th class="th">
                                    City
                                </th>
                                <th class="th">
                                    Amount
                                </th>
                                <th class="th">
                                    <div style="margin:1.5px 0" class="checkbox">
                                        <label>
                                            <input type="checkbox" class="select-all checkbox" name="select-all" />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr class="table-responsive">
                                    <td class="td">
                                        @Html.DisplayFor(modelItem => item.NoregId)
                                    </td>
                                    <td class="td">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="td">
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td class="td">
                                        Rp. @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td class="td">
                                        <div style="margin:1.5px" class="checkbox">
                                            <label>
                                                <input type="checkbox" class="select-item checkbox" name="select-item" value="1000" />
                                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div>
                        <a href="#" id="selected" class="btn btn-danger">Confirm</a>
                        <a href="#" id="select-all" class="btn btn-info">Select All</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(function () {

        //button select all or cancel
        $("#select-all").click(function () {
            var all = $("input.select-all")[0];
            all.checked = !all.checked
            var checked = all.checked;
            $("input.select-item").each(function (index, item) {
                item.checked = checked;
            });
        });

        //button select invert
        $("#select-invert").click(function () {
            $("input.select-item").each(function (index, item) {
                item.checked = !item.checked;
            });
            checkSelected();
        });

        //button get selected info
        $("#selected").click(function () {
            var items = [];
            $("input.select-item:checked:checked").each(function (index, item) {
                items[index] = item.value;
            });
            if (items.length < 1) {
                alert("no selected items!!!");
            } else {
                var values = items.join(',');
                console.log(values);
                var html = $("<div></div>");
                html.html("selected:" + values);
                html.appendTo("body");
            }
        });

        //column checkbox select all or cancel
        $("input.select-all").click(function () {
            var checked = this.checked;
            $("input.select-item").each(function (index, item) {
                item.checked = checked;
            });
        });

        //check selected items
        $("input.select-item").click(function () {
            var checked = this.checked;
            console.log(checked);
            checkSelected();
        });

        //check is all selected
        function checkSelected() {
            var all = $("input.select-all")[0];
            var total = $("input.select-item").length;
            var len = $("input.select-item:checked:checked").length;
            console.log("total:" + total);
            console.log("len:" + len);
            all.checked = len === total;
        }
    });
</script>