
@{
    ViewBag.Title = "MENU";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div id="products" class="row list-group _3EibU">
    <div class="item col-xs-4 col-lg-4">
        <div class="thumbnail border">
            <a style="justify-content:center;" class="Tr6Hj" href="/TravelRequest/" data-reactid="42">
                <div class="_2hTgM" data-reactid="47"><img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/Travel-Request-icon.png" alt="" /></div>
                <div class="_2hTgM" data-reactid="47">TRAVEL REQUEST</div>
            </a>
        </div>
    </div>
    <div class="item col-xs-4 col-lg-4">
        <div class="thumbnail border">
            <a class="Tr6Hj" href="/TravelStatus/" data-reactid="42">
                <div class="_2hTgM" data-reactid="47"><img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/Travel-Status-icon.png" alt="" /></div>
                <div class="_2hTgM" data-reactid="47">TRAVEL STATUS</div>
            </a>
        </div>
    </div>
    <div class="item col-xs-4 col-lg-4">
        <div class="thumbnail border">
            <a class="Tr6Hj" href="/TravelExecute/" data-reactid="42">
                <div class="_2hTgM" data-reactid="47"><img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/Travel-Execution-icon.png" alt="" /></div>
                <div class="_2hTgM" data-reactid="47">TRAVEL EXECUTION</div>
            </a>
        </div>
    </div>
    <div class="item col-xs-4 col-lg-4">
        <div class="thumbnail border">
            <a class="Tr6Hj" href="/Settlement/" data-reactid="42">
                <div class="_2hTgM" data-reactid="47"><img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/Settlement-icon.png" alt="" /></div>
                <div class="_2hTgM" data-reactid="47">TRAVEL SETTLEMENT</div>
            </a>
        </div>
    </div>
    <div class="item col-xs-4 col-lg-4">
        <div class="thumbnail border">
            <a class="Tr6Hj" href="/ActualCost/" data-reactid="42">
                <div class="_2hTgM" data-reactid="47"><img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/menu-actual-cost.png" alt="" /></div>
                <div class="_2hTgM" data-reactid="47">ACTUAL COST</div>
            </a>
        </div>
    </div>
    <div class="item col-xs-4 col-lg-4">
        <div class="thumbnail border">
            <a class="Tr6Hj" href="/DIT/" data-reactid="42">
                <div class="_2hTgM" data-reactid="47"><img style="height:50px; width:50px; margin:0px 0px; padding:0 0;" src="~/img/menu-upload-dit.png" alt="" /></div>
                <div class="_2hTgM" data-reactid="47">UPLOAD DIT</div>
            </a>
        </div>
    </div>
</div>